<p-table
  [columns]="cols"
  [value]="data"
  scrollHeight="400px"
  [scrollable]="true"
  [loading]="loading"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th [id]="col.title" *ngFor="let col of columns">
        {{ col.title }}
      </th>
      <th id="actions">Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let col of columns">
        {{ rowData | nestedProperty: col.property }}
      </td>

      <td>
        <p-button
          icon="pi pi-pencil"
          (onClick)="onEdit(rowData)"
          severity="secondary"
        ></p-button>
        <p-button
          icon="pi pi-trash"
          (onClick)="onDelete(rowData)"
          severity="danger"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
